In [1]:
%matplotlib inline 
import pandas as pd

In [3]:
#from IPython.core.display import HTML
#css = open('style-table.css').read() + open('style-notebook.css').read()
#HTML('<style>{}</style>'.format(css))

In [4]:
titles = pd.read_csv('titles.csv')
titles.head()

                  title  year
0    Tasveer Mere Sanam  1996
1              Only You  1994
2  El pueblo del terror  1970
3               Machine  2007
4                  MARy  2008

# 1. How many movies are listed in the titles dataframe

In [5]:
titles.title.count()

244914

In [6]:
# Get the number of rows, which corresponds to the number of movies
num_movies = titles.shape[0]

print("Number of movies:", num_movies)

Number of movies: 244914

# 2. What are the earliest two films listed in the titles dataframe

In [7]:
# Sort the DataFrame by the "year" column in ascending order
titles_sorted = titles.sort_values(by='year')

# Select the first two rows (earliest two films)
earliest_films = titles_sorted.head(2)

# Print the earliest two films
print(earliest_films)

                     title  year
193222          Miss Jerry  1894
51388   The Startled Lover  1898

# 3. How many movies have the title "Hamlet"?

In [9]:
# Use boolean indexing to filter rows with the title "Hamlet"
hamlet_movies = titles[titles['title'] == 'Hamlet']

# Get the number of movies with the title "Hamlet"
num_hamlet_movies = hamlet_movies.shape[0]

print("Number of movies with the title 'Hamlet':", num_hamlet_movies)

Number of movies with the title 'Hamlet': 20

# 4. How many movies are titled "North by Northwest"?

In [12]:
# Use boolean indexing to filter rows with the title "North by Northwest"
north_by_northwest_movies = titles[titles['title'] == 'North by Northwest']

# Get the number of movies with the title "North by Northwest"
num_north_by_northwest_movies = north_by_northwest_movies.shape[0]

print("Number of movies titled 'North by Northwest':", num_north_by_northwest_movies)

Number of movies titled 'North by Northwest': 1

# 5. When was the first movie titled "Hamlet" made?

In [13]:
# Sort the DataFrame by the "year" column in ascending order
titles_sorted = titles.sort_values(by='year')

# Filter for movies with the title "Hamlet"
hamlet_movies = titles_sorted[titles_sorted['title'] == 'Hamlet']

# Get the first row (earliest "Hamlet" movie)
first_hamlet_movie = hamlet_movies.iloc[0]

# Extract and print the year of the first "Hamlet" movie
first_hamlet_movie_year = first_hamlet_movie['year']

print("The first movie titled 'Hamlet' was made in the year:", first_hamlet_movie_year)

The first movie titled 'Hamlet' was made in the year: 1910

# 6. List all of the "Treasure Island" movies from earliest to most recent

In [16]:
# Filter for movies with the title "Treasure Island"
treasure_island_movies = titles[titles['title'] == 'Treasure Island']

# Sort the filtered DataFrame by the "year" column in ascending order
treasure_island_movies_sorted = treasure_island_movies.sort_values(by='year')

# Print the list of "Treasure Island" movies from earliest to most recent
print(treasure_island_movies_sorted)

                  title  year
55686   Treasure Island  1918
196514  Treasure Island  1920
141822  Treasure Island  1934
77354   Treasure Island  1950
65051   Treasure Island  1972
37238   Treasure Island  1973
173051  Treasure Island  1985
27076   Treasure Island  1999

# 7. How many movies were made in the year 1950?

In [19]:
# Use boolean indexing to filter for movies made in the year 1950
movies_1950 = titles[titles['year'] == 1950]

# Get the number of movies made in 1950
num_movies_1950 = movies_1950.shape[0]

print("Number of movies made in the year 1950:", num_movies_1950)

Number of movies made in the year 1950: 1113

# 8. How many movies were made in 1960?

In [20]:
# Use boolean indexing to filter for movies made in the year 1960
movies_1960 = titles[titles['year'] == 1960]

# Get the number of movies made in 1960
num_movies_1960 = movies_1960.shape[0]

print("Number of movies made in the year 1960:", num_movies_1960)

Number of movies made in the year 1960: 1549

# 9. How many movies were made from 1950 through 1959?

In [21]:
# Use boolean indexing to filter for movies made between 1950 and 1959
movies_1950s = titles[(titles['year'] >= 1950) & (titles['year'] <= 1959)]

# Get the number of movies made from 1950 through 1959
num_movies_1950s = movies_1950s.shape[0]

print("Number of movies made from 1950 through 1959:", num_movies_1950s)

Number of movies made from 1950 through 1959: 12934

# 10. In what years has a movie titles "Batman" been released?

In [24]:
# Filter for movies with the title "Batman"
batman_movies = titles[titles['title'] == 'Batman']

# Get the unique years in which "Batman" movies were released
unique_years = batman_movies['year'].unique()

# Sort the unique years in ascending order
sorted_years = sorted(unique_years)

# Print the years in which "Batman" movies were released
print("Years in which a movie titled 'Batman' was released:", sorted_years)

Years in which a movie titled 'Batman' was released: [1943, 1989]

# 11. How many roles were there in the movie "Inception"?

In [26]:
cast = pd.read_csv('cast.csv')

# Filter for rows where the movie title is "Inception"
inception_cast = cast[cast['title'] == 'Inception']

# Count the number of unique roles in the filtered DataFrame
num_roles_in_inception = len(inception_cast['character'].unique())

print("Number of roles in the movie 'Inception':", num_roles_in_inception)

Number of roles in the movie 'Inception': 56

# 12. How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [27]:
import numpy as np

# Filter for rows where the movie title is "Inception" and "n" is NaN
inception_cast_not_ranked = cast[(cast['title'] == 'Inception') & cast['n'].isna()]

# Count the number of roles in "Inception" that are not ranked by "n" value
num_roles_not_ranked = len(inception_cast_not_ranked)

print("Number of roles in the movie 'Inception' not ranked by 'n' value:", num_roles_not_ranked)

Number of roles in the movie 'Inception' not ranked by 'n' value: 27

# 13. But how many roles in the movie "Inception" did receive an "n" value?

In [29]:
# Filter for rows where the movie title is "Inception" and "n" is not NaN
inception_cast_ranked = cast[(cast['title'] == 'Inception') & cast['n'].notna()]

# Count the number of roles in "Inception" that received an "n" value
num_roles_ranked = len(inception_cast_ranked)

print("Number of roles in the movie 'Inception' that received an 'n' value:", num_roles_ranked)

Number of roles in the movie 'Inception' that received an 'n' value: 51

# 14. Display the cast of "North of Northwest" in their correct "n" value order, ignoring roles that did not earn a numeric "n" value

In [30]:
# Filter for rows where the movie title is "North by Northwest" and "n" is numeric
north_by_northwest_cast = cast[(cast['title'] == 'North by Northwest') & cast['n'].notna()]

# Sort the filtered DataFrame by the "n" values
north_by_northwest_cast_sorted = north_by_northwest_cast.sort_values(by='n')

# Display the cast in correct "n" value order
print(north_by_northwest_cast_sorted[['name', 'n']])

                         name     n
871426             Cary Grant   1.0
3518333       Eva Marie Saint   2.0
1457165           James Mason   3.0
3157232   Jessie Royce Landis   4.0
356707         Leo G. Carroll   5.0
3048272  Josephine Hutchinson   6.0
1695173           Philip Ober   7.0
1275337         Martin Landau   8.0
2447081         Adam Williams   9.0
1811387          Edward Platt  10.0
665768      Robert Ellenstein  11.0
2295714          Les Tremayne  12.0
464736        Philip Coolidge  13.0
1508344         Patrick McVey  14.0
206471           Edward Binns  15.0
1384780             Ken Lynch  16.0

# 15. Display the entire cast in "n"-order of the film "Sleuth"

In [32]:
# Filter for rows where the movie title is "Sleuth"
sleuth_cast = cast[cast['title'] == 'Sleuth']

# Drop rows with NaN values in the "n" column
sleuth_cast = sleuth_cast.dropna(subset=['n'])

# Sort the filtered DataFrame by the "n" values
sleuth_cast_sorted = sleuth_cast.sort_values(by='n')

# Display the entire cast in "n" order
print(sleuth_cast_sorted[['name', 'n']])

                       name    n
326774        Michael Caine  1.0
1705394    Laurence Olivier  1.0
326773        Michael Caine  2.0
1293634            Jude Law  2.0
373876       Alec Cawthorne  3.0
1805907       Harold Pinter  3.0
1465483  John (II) Matthews  4.0
2724553  Eve (III) Channing  5.0
1448690        Teddy Martin  6.0

# 16. Now display the entire cast in "n"-order of the 2007 verison of "Sleuth"

In [35]:
# Filter for rows where the movie title is "Sleuth" and the year is 2007
sleuth_2007_cast = cast[(cast['title'] == 'Sleuth') & (cast['year'] == 2007)]

# Drop rows with NaN values in the "n" column
sleuth_2007_cast = sleuth_2007_cast.dropna(subset=['n'])

# Sort the filtered DataFrame by the "n" values
sleuth_2007_cast_sorted = sleuth_2007_cast.sort_values(by='n')

# Display the entire cast in "n" order for the 2007 version of "Sleuth"
print(sleuth_2007_cast_sorted[['name', 'n']])

                  name    n
326774   Michael Caine  1.0
1293634       Jude Law  2.0
1805907  Harold Pinter  3.0

# 17. How many roles were credited in the silent 1921 version of Hamlet?

In [41]:
# Filter for rows where the movie title is "Hamlet" and the year is 1921
hamlet_1921_cast = cast[(cast['title'] == 'Hamlet') & (cast['year'] == 1921)]

# Count the number of unique roles in the filtered DataFrame
num_roles_1921_hamlet = len(hamlet_1921_cast['character'].unique())

print("Number of roles credited in the silent 1921 version of 'Hamlet':", num_roles_1921_hamlet)

Number of roles credited in the silent 1921 version of 'Hamlet': 9

# 18. How many roles where credited in Branagh's 1996 Hamlet?

In [42]:
# Filter for rows where the movie title is "Hamlet" and the year is 1996
hamlet_1996_cast = cast[(cast['title'] == 'Hamlet') & (cast['year'] == 1996)]

# Count the number of unique roles in the filtered DataFrame
num_roles_1996_hamlet = len(hamlet_1996_cast['character'].unique())

print("Number of roles credited in the silent 1996 version of 'Hamlet':", num_roles_1996_hamlet)

Number of roles credited in the silent 1996 version of 'Hamlet': 49

# 19. How many "Hamlet" roles have been listed in all film credits through history?

In [43]:
# Filter for rows where the character name contains the substring "Hamlet"
hamlet_roles = cast[cast['character'].str.contains('Hamlet', case=False, na=False)]

# Count the number of unique "Hamlet" roles
num_hamlet_roles = len(hamlet_roles['character'].unique())

print("Number of 'Hamlet' roles listed in all film credits through history:", num_hamlet_roles)

Number of 'Hamlet' roles listed in all film credits through history: 74

# 20. How many people have played an "Ophelia"?

In [44]:
# Filter for rows where the character name is "Ophelia"
ophelia_actors = cast[cast['character'] == 'Ophelia']

# Count the number of unique actors who have played Ophelia
num_ophelia_actors = len(ophelia_actors['name'].unique())

print("Number of people who have played 'Ophelia':", num_ophelia_actors)

Number of people who have played 'Ophelia': 115

# 21. How many people have played a roll called "The Dude"?

In [45]:
# Filter for rows where the character name is "The Dude"
the_dude_actors = cast[cast['character'] == 'The Dude']

# Count the number of unique actors who have played "The Dude"
num_the_dude_actors = len(the_dude_actors['name'].unique())

print("Number of people who have played 'The Dude':", num_the_dude_actors)

Number of people who have played 'The Dude': 19

# 22. How many people have played a roll called "The Stranger"?

In [46]:
# Filter for rows where the character name is "The Stranger"
the_stranger_actors = cast[cast['character'] == 'The Stranger']

# Count the number of unique actors who have played "The Stranger"
num_the_stranger_actors = len(the_stranger_actors['name'].unique())

print("Number of people who have played 'The Stranger':", num_the_stranger_actors)

Number of people who have played 'The Stranger': 202

# 23. How many roles has Sidney Poitier played throughout his career?

In [47]:
# Filter for rows where the actor's name is "Sidney Poitier"
sidney_poitier_roles = cast[cast['name'] == 'Sidney Poitier']

# Count the number of unique characters he has portrayed
num_sidney_poitier_roles = len(sidney_poitier_roles['character'].unique())

print("Number of roles Sidney Poitier has played throughout his career:", num_sidney_poitier_roles)

Number of roles Sidney Poitier has played throughout his career: 41

# 24. How many roles has Judi Dench played?

In [48]:
# Filter for rows where the actor's name is "Judi Dench"
judi_dench_roles = cast[cast['name'] == 'Judi Dench']

# Count the number of unique characters she has portrayed
num_judi_dench_roles = len(judi_dench_roles['character'].unique())

print("Number of roles Judi Dench has played:", num_judi_dench_roles)

Number of roles Judi Dench has played: 46

# 25. List the supporting roles(having n=2) played by Cary Grant in the 1940s in order by year

In [49]:
# Filter for rows where the actor's name is "Cary Grant," "n" is 2, and the year is in the 1940s
cary_grant_supporting_roles_1940s = cast[(cast['name'] == 'Cary Grant') & (cast['n'] == 2) & (cast['year'] >= 1940) & (cast['year'] <= 1949)]

# Sort the filtered DataFrame by the year
cary_grant_supporting_roles_1940s_sorted = cary_grant_supporting_roles_1940s.sort_values(by='year')

# Display the list of supporting roles played by Cary Grant in the 1940s in order by year
print(cary_grant_supporting_roles_1940s_sorted[['year', 'character']])

        year    character
871423  1940   Nick Arden
871433  1941  Roger Adams

# 26. List the leading roles that Cary Grant played in the 1940s in order by year

In [50]:
# Filter for rows where the actor's name is "Cary Grant," "n" is 1, and the year is in the 1940s
cary_grant_leading_roles_1940s = cast[(cast['name'] == 'Cary Grant') & (cast['n'] == 1) & (cast['year'] >= 1940) & (cast['year'] <= 1949)]

# Sort the filtered DataFrame by the year
cary_grant_leading_roles_1940s_sorted = cary_grant_leading_roles_1940s.sort_values(by='year')

# Display the list of leading roles played by Cary Grant in the 1940s in order by year
print(cary_grant_leading_roles_1940s_sorted[['year', 'character']])

        year                             character
871448  1940                           Matt Howard
871407  1940                          Walter Burns
871450  1940                    C. K. Dexter Haven
871438  1941                      Johnnie Aysgarth
871452  1942                          Leopold Dilg
871429  1942                 Patrick 'Pat' O'Toole
871398  1943                         Capt. Cassidy
871422  1943  Joe Adams -posing as Joe Bascopolous
871430  1944                           Jerry Flynn
871390  1944                     Mortimer Brewster
871425  1944                            Ernie Mott
871424  1946                           Cole Porter
871427  1946                                Devlin
871444  1947                           Dick Nugent
871445  1947                                Dudley
871421  1948                         Jim Blandings
871402  1948                     Dr. Madison Brown
871411  1949                 Captain Henri Rochard

# 27. How many roles were available for actors in the 1950s?

In [54]:
# Filter for rows where the year is between 1950 and 1959 (inclusive)
roles_in_1950s = cast[(cast['year'] >= 1950) & (cast['year'] <= 1959) & (cast['type'] == 'actor')]

# Count the number of unique roles available for actors in the 1950s
num_roles_in_1950s = len(roles_in_1950s['character'].unique())

print("Number of roles available for actors in the 1950s:", num_roles_in_1950s)

Number of roles available for actors in the 1950s: 93369

# 28. How many roles were available for actoresses in the 1950s?

In [52]:
# Filter for rows where the year is between 1950 and 1959 (inclusive) and gender is "female"
actresses_in_1950s = cast[(cast['year'] >= 1950) & (cast['year'] <= 1959) & (cast['type'] == 'actress')]

# Count the number of unique roles available for actresses in the 1950s
num_roles_for_actresses_in_1950s = len(actresses_in_1950s['character'].unique())

print("Number of roles available for actresses in the 1950s:", num_roles_for_actresses_in_1950s)

Number of roles available for actresses in the 1950s: 36266

# 29. How many leading roles (n==1) were available from the beginning of film history through 1980?

In [55]:
# Filter for rows where "n" is equal to 1 and the year is less than or equal to 1980
leading_roles_until_1980 = cast[(cast['n'] == 1) & (cast['year'] <= 1980)]

# Count the number of leading roles available from the beginning of film history through 1980
num_leading_roles_until_1980 = len(leading_roles_until_1980)

print("Number of leading roles available from the beginning of film history through 1980:", num_leading_roles_until_1980)

Number of leading roles available from the beginning of film history through 1980: 65140

# 30. How many non leading roles were available through from the beginning of film history through 1980?

In [56]:
# Filter for rows where "n" is not equal to 1 and the year is less than or equal to 1980
non_leading_roles_until_1980 = cast[(cast['n'] != 1) & (cast['year'] <= 1980)]

# Count the number of non-leading roles available from the beginning of film history through 1980
num_non_leading_roles_until_1980 = len(non_leading_roles_until_1980)

print("Number of non-leading roles available from the beginning of film history through 1980:", num_non_leading_roles_until_1980)

Number of non-leading roles available from the beginning of film history through 1980: 1117667

# 31. How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [57]:
# Filter for rows where the year is less than or equal to 1980 and "n" is NaN
minor_roles_until_1980 = cast[(cast['year'] <= 1980) & cast['n'].isna()]

# Count the number of roles through 1980 that did not have a numeric "n" rank
num_minor_roles_until_1980 = len(minor_roles_until_1980)

print("Number of roles through 1980 without a numeric 'n' rank:", num_minor_roles_until_1980)

Number of roles through 1980 without a numeric 'n' rank: 448347