# Langauge Fundamentals:

# 1. Manipulate using a list.
i) To add new elements to the end of the list

ii) To reverse elements in the list

iii) To display the same list of elements multiple times

iv) To concatenate two list

v) To sort the elements in the list in ascending order

In [4]:
list_1 = [45,67,87,12,46]
list_1

[45, 67, 87, 12, 46]

In [5]:
list_2 =[34,13,45,67,18]
list_2

[34, 13, 45, 67, 18]

In [6]:
# i) To add new elements to the end of the list
list_1.append(92) #append is used to add single element at the end of the list
list_1

[45, 67, 87, 12, 46, 92]

In [7]:
# ii) To reverse elements in the list
list_1.reverse() #reverse function is used to reverse list
list_1

[92, 46, 12, 87, 67, 45]

In [10]:
# iii) To display the same list of elements multiple times
multiple_times = list_1 * 3 #same list of elements are repeating 3 times
multiple_times

[92, 46, 12, 87, 67, 45, 92, 46, 12, 87, 67, 45, 92, 46, 12, 87, 67, 45]

In [11]:
# iv) To concatenate two list
concatenated_list = list_1 + list_2 #"+" operator is used to concatenate two list
concatenated_list

[92, 46, 12, 87, 67, 45, 34, 13, 45, 67, 18]

In [12]:
# v) To sort the elements in the list in ascending order
concatenated_list.sort()
concatenated_list

[12, 13, 18, 34, 45, 45, 46, 67, 67, 87, 92]

# 2. Write a Python program to do in the tuples
i) Manipulate using tuples

ii) To add new elements to the end of the tuples

iii) To reverse elements in the list

iv)To display the elements of the same tuple mutiple times

v) To concatenate two tuples

vi) To sort the elements in the list in ascending order

# 3. Write a python program to be implement the following using list
i) Create a list with integers(minimum 10 numbers)

ii) How to display the last number in the list

iii) Command for displaying the values from the list [0:4]

iv) Command for displaying the values from the list[2:]

v) Command for displaying the values from the list[:6]

In [13]:
# i) Create a list with integers(minimum 10 numbers)

List = [1,2,3,4,5,6,7,8]  #list is created
List

[1, 2, 3, 4, 5, 6, 7, 8]

In [14]:
# ii) How to display the last number in the list 

List[-1]  # "-1" is used to display last element of the list

8

In [15]:
# iii) Command for displaying the values from the list [0:4]

List[0:4] # this command will display the output from starting point of the list till 3 index of the list as end index is calculated as n-1

[1, 2, 3, 4]

In [16]:
# iv) Command for displaying the values from the list[2:]

List[2:] # this command will start from index 2 as start index is given as 2 till the last element is reached because nothing is provided in end index

[3, 4, 5, 6, 7, 8]

In [17]:
# v)Command for displaying the values from the list[:6]

List[:6] # this command will give output till 5th element as end index is calculated as n-1

[1, 2, 3, 4, 5, 6]

# 4. Write a Python program : tuple1=(10,50,20,40,30)
i) To display the elements 10 and 50 from tuple1

ii) To display the length of a tuple1

iii) To find the minimum element from tuple 1

iv) To add all elements in the tuple1

v) To display the same tuple1 multiple times

In [18]:
tuple1 = (10,50,20,40,30)  # tuple is created
tuple1

(10, 50, 20, 40, 30)

In [25]:
# i) To display the elements 10 and 50 from tuple1

to_display_10 = tuple1[0]
to_display_50 = tuple1[1]
print('displayed element: ', to_display_10,to_display_50)     # we can display the element using their index

displayed element:  10 50

In [28]:
# ii) To display the length of a tuple1

length = len(tuple1)  # len function is built-in function used to find length
length

5

In [29]:
# iii) To find the minimum element from tuple 1

minimum = min(tuple1)  # min function is built-in function used to find minium value 
minimum

10

In [30]:
# iv) To add all elements in the tuple1

add = sum(tuple1)  #sum function is used to add all the values in a given tuple
add

150

In [31]:
# v) To display the same tuple1 multiple times
multiple = tuple1 * 3    # "*" operator is used to multiply the elements for n number of times
multiple

(10, 50, 20, 40, 30, 10, 50, 20, 40, 30, 10, 50, 20, 40, 30)

# 5. Write a python program:
i) To calculate the length of a string 

ii) To reverse words in a string

iii) To display the same string multiple times

iv) To concatenate two strings 

v) Str1 = "South India", using string slicing to display "India"

In [38]:
Str1 = "South india"
Str2 = "Bangalore"
print(Str1,"\n", Str2)

South india
 Bangalore

In [41]:
# i) To calculate the length of a string

length_of_string1 = len(Str1)  # len function is used to calculate the length of string
length_of_string2 = len(Str2)

print("length of string 1 is",length_of_string1,"\nlength of string 2 is",length_of_string2)

length of string 1 is 11
length of string 2 is 9

In [60]:
# ii) To reverse words in a string

Str1.reverse()

AttributeError: 'str' object has no attribute 'reverse'

In [46]:
# iii) To display the same string multiple times

Mul1 = Str1 * 2      # "*" operator is used to display strings for n number of times
Mul2 = Str2 * 2

print("Strings displayed multiple times\n",Mul1 ,"\n", Mul2)

Strings displayed multiple times
 South indiaSouth india
 BangaloreBangalore

In [48]:
# iv) To concatenate two strings

add = Str1 + Str2      #"+" operator is used to concatenate two strings
print("Concatenated strings are: \n", add)

Concatenated strings are:
 South indiaBangalore

In [51]:
# v) Str1 = "South India", using string slicing to display "India"

Str1[6:] # this command will be used to slice india from given string

'india'

# 6. Perform the following:
i) Creating a Dictionary

ii) Accessing values and keys in the Dictionary

iii) Updating the dictionary using a function

iv) Clear and delete the dictionary values

In [65]:
# i) Creating a Dictionary

Emp = {'f_name':'John','l_name':'green','address':'madrid','emp_id':4545}    #Dictionary created
Emp

{'f_name': 'John', 'l_name': 'green', 'address': 'madrid', 'emp_id': 4545}

In [66]:
# ii) Accessing values and keys in the Dictionary

Emp.keys()  # using .keys() function we can access all keys in dictionary

dict_keys(['f_name', 'l_name', 'address', 'emp_id'])

In [69]:
Emp.values() # using .values() function we can access all values in dictionary

dict_values(['Alan', 'green', 'madrid', 4545])

In [74]:
Emp.get('emp_id')  # using .net() function we can access specific value using key

4545

In [68]:
 # iii) Updating the dictionary using a function
    
Emp.update({'f_name':'Alan'})  #using .update() function we updated name of an employee
Emp

{'f_name': 'Alan', 'l_name': 'green', 'address': 'madrid', 'emp_id': 4545}

In [75]:
# iv) Clear and delete the dictionary values

Emp.pop('emp_id') #.pop() is used to delete specific key_value pair

4545

In [76]:
Emp

{'f_name': 'Alan', 'l_name': 'green', 'address': 'madrid'}

In [77]:
Emp.clear()  #.clear is used to clear every key_value pair from dictionary

In [78]:
Emp

{}

# 7. Python program to insert a number to any position in a list

In [122]:
lista= [23,5,34,45,56,13,87,42]
lista

[23, 5, 34, 45, 56, 13, 87, 42]

In [123]:
lista.insert(2,79)    # .insert(position,element) is used to insert element at any position in a list
lista

[23, 5, 79, 34, 45, 56, 13, 87, 42]

# 8. Python program to delete an element from a list by index

In [124]:
# consider list used in problem 7 

list_index = lista[2]    # consider removing 79 from list whose index is 2 so first we initalize index to temp and then use .remove() function to delete the indexed element
lista.remove(list_index)
lista

[23, 5, 34, 45, 56, 13, 87, 42]

# 9. Write a program to display a number from 1 to 100

In [125]:
print([i for i in range(1,101)])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

# 10. Write a python program to find the sum of all items in a tuple

In [8]:
tuples=(10,20,30,40,50)
tuples

(10, 20, 30, 40, 50)

In [15]:
alist = list(tuples)         # this in one method to add elements in tuple by converting tuple into list and finding sum of list
add = sum(alist)
print('sum of all items in tuple is: ',add)

sum of all items in tuple is:  150

In [14]:
addition = sum(tuples)   # this is another method where you can directly find sum using sum() function in tuple 
print('sum of all items in tuple is: ',addition)

sum of all items in tuple is:  150

# 11. Create a dictionary containing three lambda functions for square, cube and square root.
i) E.g. dict = {'Square':function for squaring,'Cube':function for cube,'Squareroot':function for square root}

ii) Pass the values(input from the user) to the function in thr dictionary respectively.

iii) Then add the outputs of each and print it

# 12. A list of words is given. Find the words from the list that have their second character in uppercase.

ls=['hello','Dear','hOw','aRe','You']

In [16]:
ls = ['hello','Dear','hOw','aRe','You']

# 13. A dictionary of names and their weights on earth is given. Find how much they will weigh on the moon. (Use map and lambda functions) Formula: wMoon = (wEarth * GMoon)/GEarth
    
i) #Weight of people in kg
    - WeightOnEarth = {'John':45,'Shelly':65,'Marry':35}

ii) #Gravitational force on the Moon: 1.622 m/s2
    - GMoon = 1.622
    
iii) #Gravitational force on the Earth: 9.81 m/s2
    - GEarth = 9.81

# Control Structures:

# 1. Write a Python program to find the first N prime numbers.

In [34]:
n = int(input('Give number'))
i = 2
if (n==1 or n==0):
    print('not a prime number')
for i in range(2,n):
    if(n%2==0):
        print('not a prime number')
    else:
        print(i)

Give number16
not a prime number
not a prime number
not a prime number
not a prime number
not a prime number
not a prime number
not a prime number
not a prime number
not a prime number
not a prime number
not a prime number
not a prime number
not a prime number
not a prime number