# Langauge Fundamentals:

# 1. Manipulate using a list.
i) To add new elements to the end of the list

ii) To reverse elements in the list

iii) To display the same list of elements multiple times

iv) To concatenate two list

v) To sort the elements in the list in ascending order

In [4]:
list_1 = [45,67,87,12,46]
list_1

[45, 67, 87, 12, 46]

In [5]:
list_2 =[34,13,45,67,18]
list_2

[34, 13, 45, 67, 18]

In [6]:
# i) To add new elements to the end of the list
list_1.append(92) #append is used to add single element at the end of the list
list_1

[45, 67, 87, 12, 46, 92]

In [7]:
# ii) To reverse elements in the list
list_1.reverse() #reverse function is used to reverse list
list_1

[92, 46, 12, 87, 67, 45]

In [10]:
# iii) To display the same list of elements multiple times
multiple_times = list_1 * 3 #same list of elements are repeating 3 times
multiple_times

[92, 46, 12, 87, 67, 45, 92, 46, 12, 87, 67, 45, 92, 46, 12, 87, 67, 45]

In [11]:
# iv) To concatenate two list
concatenated_list = list_1 + list_2 #"+" operator is used to concatenate two list
concatenated_list

[92, 46, 12, 87, 67, 45, 34, 13, 45, 67, 18]

In [12]:
# v) To sort the elements in the list in ascending order
concatenated_list.sort()
concatenated_list

[12, 13, 18, 34, 45, 45, 46, 67, 67, 87, 92]

# 2. Write a Python program to do in the tuples
i) Manipulate using tuples

ii) To add new elements to the end of the tuples

iii) To reverse elements in the list

iv)To display the elements of the same tuple mutiple times

v) To concatenate two tuples

vi) To sort the elements in the list in ascending order

In [22]:
# i) Manipulate using tuples

tuples = ('car','bike','boat','aeroplane')   #To manipulate tuple we need to convert tuple into list
tuples
alist = list(tuples)
alist

['car', 'bike', 'boat', 'aeroplane']

In [26]:
# ii) To add new elements to the end of the tuples 

alist.append('ship') # change tuple to list and then use .append() function to add element at the end
alist
atuple = tuple(alist)
atuple

('car', 'bike', 'boat', 'aeroplane', 'ship', 'ship', 'ship')

In [28]:
# iii) To reverse elements in the list

alist.reverse()    # .reverse() function is used to reverse elements
alist

['car', 'bike', 'boat', 'aeroplane', 'ship', 'ship', 'ship']

In [30]:
# iv)To display the elements of the same tuple mutiple times

mul = tuples * 3      # "*" operator is used to multiply the elements for n number of times
mul

('car',
 'bike',
 'boat',
 'aeroplane',
 'car',
 'bike',
 'boat',
 'aeroplane',
 'car',
 'bike',
 'boat',
 'aeroplane')

In [31]:
# v) To concatenate two tuples

concatenated_tuple = atuple + tuples   #"+" operator is used to concatenate two list
concatenated_tuple

('car',
 'bike',
 'boat',
 'aeroplane',
 'ship',
 'ship',
 'ship',
 'car',
 'bike',
 'boat',
 'aeroplane')

In [33]:
# vi) To sort the elements in the list in ascending order

alist.sort()    # .sort() is used to sort the elements in ascending order
alist

['aeroplane', 'bike', 'boat', 'car', 'ship', 'ship', 'ship']

# 3. Write a python program to be implement the following using list
i) Create a list with integers(minimum 10 numbers)

ii) How to display the last number in the list

iii) Command for displaying the values from the list [0:4]

iv) Command for displaying the values from the list[2:]

v) Command for displaying the values from the list[:6]

In [13]:
# i) Create a list with integers(minimum 10 numbers)

List = [1,2,3,4,5,6,7,8]  #list is created
List

[1, 2, 3, 4, 5, 6, 7, 8]

In [14]:
# ii) How to display the last number in the list 

List[-1]  # "-1" is used to display last element of the list

8

In [15]:
# iii) Command for displaying the values from the list [0:4]

List[0:4] # this command will display the output from starting point of the list till 3 index of the list as end index is calculated as n-1

[1, 2, 3, 4]

In [16]:
# iv) Command for displaying the values from the list[2:]

List[2:] # this command will start from index 2 as start index is given as 2 till the last element is reached because nothing is provided in end index

[3, 4, 5, 6, 7, 8]

In [17]:
# v)Command for displaying the values from the list[:6]

List[:6] # this command will give output till 5th element as end index is calculated as n-1

[1, 2, 3, 4, 5, 6]

# 4. Write a Python program : tuple1=(10,50,20,40,30)
i) To display the elements 10 and 50 from tuple1

ii) To display the length of a tuple1

iii) To find the minimum element from tuple 1

iv) To add all elements in the tuple1

v) To display the same tuple1 multiple times

In [18]:
tuple1 = (10,50,20,40,30)  # tuple is created
tuple1

(10, 50, 20, 40, 30)

In [25]:
# i) To display the elements 10 and 50 from tuple1

to_display_10 = tuple1[0]
to_display_50 = tuple1[1]
print('displayed element: ', to_display_10,to_display_50)     # we can display the element using their index

displayed element:  10 50

In [28]:
# ii) To display the length of a tuple1

length = len(tuple1)  # len function is built-in function used to find length
length

5

In [29]:
# iii) To find the minimum element from tuple 1

minimum = min(tuple1)  # min function is built-in function used to find minium value 
minimum

10

In [30]:
# iv) To add all elements in the tuple1

add = sum(tuple1)  #sum function is used to add all the values in a given tuple
add

150

In [31]:
# v) To display the same tuple1 multiple times
multiple = tuple1 * 3    # "*" operator is used to multiply the elements for n number of times
multiple

(10, 50, 20, 40, 30, 10, 50, 20, 40, 30, 10, 50, 20, 40, 30)

# 5. Write a python program:
i) To calculate the length of a string 

ii) To reverse words in a string

iii) To display the same string multiple times

iv) To concatenate two strings 

v) Str1 = "South India", using string slicing to display "India"

In [34]:
Str1 = "South india"
Str2 = "Bangalore"
print(Str1,"\n", Str2)

South india
 Bangalore

In [2]:
# i) To calculate the length of a string

length_of_string1 = len(Str1)  # len function is used to calculate the length of string
length_of_string2 = len(Str2)

print("length of string 1 is",length_of_string1,"\nlength of string 2 is",length_of_string2)

length of string 1 is 11
length of string 2 is 9

In [35]:
# ii) To reverse words in a string

Str1 = "South india"[::-1]     #slicing is used here to reverse words in string
Str1

'aidni htuoS'

In [46]:
# iii) To display the same string multiple times

Mul1 = Str1 * 2      # "*" operator is used to display strings for n number of times
Mul2 = Str2 * 2

print("Strings displayed multiple times\n",Mul1 ,"\n", Mul2)

Strings displayed multiple times
 South indiaSouth india
 BangaloreBangalore

In [48]:
# iv) To concatenate two strings

add = Str1 + Str2      #"+" operator is used to concatenate two strings
print("Concatenated strings are: \n", add)

Concatenated strings are:
 South indiaBangalore

In [51]:
# v) Str1 = "South India", using string slicing to display "India"

Str1[6:] # this command will be used to slice india from given string

'india'

# 6. Perform the following:
i) Creating a Dictionary

ii) Accessing values and keys in the Dictionary

iii) Updating the dictionary using a function

iv) Clear and delete the dictionary values

In [65]:
# i) Creating a Dictionary

Emp = {'f_name':'John','l_name':'green','address':'madrid','emp_id':4545}    #Dictionary created
Emp

{'f_name': 'John', 'l_name': 'green', 'address': 'madrid', 'emp_id': 4545}

In [66]:
# ii) Accessing values and keys in the Dictionary

Emp.keys()  # using .keys() function we can access all keys in dictionary

dict_keys(['f_name', 'l_name', 'address', 'emp_id'])

In [69]:
Emp.values() # using .values() function we can access all values in dictionary

dict_values(['Alan', 'green', 'madrid', 4545])

In [74]:
Emp.get('emp_id')  # using .net() function we can access specific value using key

4545

In [68]:
 # iii) Updating the dictionary using a function
    
Emp.update({'f_name':'Alan'})  #using .update() function we updated name of an employee
Emp

{'f_name': 'Alan', 'l_name': 'green', 'address': 'madrid', 'emp_id': 4545}

In [75]:
# iv) Clear and delete the dictionary values

Emp.pop('emp_id') #.pop() is used to delete specific key_value pair

4545

In [76]:
Emp

{'f_name': 'Alan', 'l_name': 'green', 'address': 'madrid'}

In [77]:
Emp.clear()  #.clear is used to clear every key_value pair from dictionary

In [78]:
Emp

{}

# 7. Python program to insert a number to any position in a list

In [122]:
lista= [23,5,34,45,56,13,87,42]
lista

[23, 5, 34, 45, 56, 13, 87, 42]

In [123]:
lista.insert(2,79)    # .insert(position,element) is used to insert element at any position in a list
lista

[23, 5, 79, 34, 45, 56, 13, 87, 42]

# 8. Python program to delete an element from a list by index

In [124]:
# consider list used in problem 7 

list_index = lista[2]    # consider removing 79 from list whose index is 2 so first we initalize index to temp and then use .remove() function to delete the indexed element
lista.remove(list_index)
lista

[23, 5, 34, 45, 56, 13, 87, 42]

# 9. Write a program to display a number from 1 to 100

In [125]:
print([i for i in range(1,101)])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

# 10. Write a python program to find the sum of all items in a tuple

In [8]:
tuples=(10,20,30,40,50)
tuples

(10, 20, 30, 40, 50)

In [15]:
alist = list(tuples)         # this in one method to add elements in tuple by converting tuple into list and finding sum of list
add = sum(alist)
print('sum of all items in tuple is: ',add)

sum of all items in tuple is:  150

In [14]:
addition = sum(tuples)   # this is another method where you can directly find sum using sum() function in tuple 
print('sum of all items in tuple is: ',addition)

sum of all items in tuple is:  150

# 11. Create a dictionary containing three lambda functions for square, cube and square root.
i) E.g. dict = {'Square':function for squaring,'Cube':function for cube,'Squareroot':function for square root}

ii) Pass the values(input from the user) to the function in thr dictionary respectively.

iii) Then add the outputs of each and print it

In [2]:
# i) E.g. dict = {'Square':function for squaring,'Cube':function for cube,'Squareroot':function for square root}

my_dict = {
    'Square': lambda x: x**2,
    'Cube': lambda x: x**3,
    'Squareroot': lambda x: x**0.5
}

In [3]:
# ii) Pass the values(input from the user) to the function in the dictionary respectively

value = float(input("Enter a number: "))

Enter a number: 9

In [4]:
# Calculate the results using the lambda functions
square_result = my_dict['Square'](value)
cube_result = my_dict['Cube'](value)
sqrt_result = my_dict['Squareroot'](value)

# Add the results together
total_result = square_result + cube_result + sqrt_result

In [5]:
# Print the individual results and the total
print(f"Square: {square_result}")
print(f"Cube: {cube_result}")
print(f"Square root: {sqrt_result}")
print(f"Total: {total_result}")

Square: 81.0
Cube: 729.0
Square root: 3.0
Total: 813.0

# 12. A list of words is given. Find the words from the list that have their second character in uppercase.

ls=['hello','Dear','hOw','aRe','You']

In [1]:
ls = ['hello','Dear','hOw','aRe','You']
ls

['hello', 'Dear', 'hOw', 'aRe', 'You']

In [2]:
for i in ls:
    if i[1].isupper():
        print(i)

hOw
aRe

# 13. A dictionary of names and their weights on earth is given. Find how much they will weigh on the moon. (Use map and lambda functions) Formula: wMoon = (wEarth * GMoon)/GEarth
    
i) #Weight of people in kg
    - WeightOnEarth = {'John':45,'Shelly':65,'Marry':35}

ii) #Gravitational force on the Moon: 1.622 m/s2
    - GMoon = 1.622
    
iii) #Gravitational force on the Earth: 9.81 m/s2
    - GEarth = 9.81

In [1]:
Gfm = 1.622
Gfe = 9.81
WOE = {'John': 45, 'Shelly': 65, 'Marry': 35}
WOM = list(map(lambda x: (x[1] * Gfm) / Gfe, WOE.items()))
WeightOnMoonDict = dict(zip(WOE.keys(), WOM))
for name, weight in WeightOnMoonDict.items():
 print(f"{name}'s weight on the moon: {weight:.2f} kg")

John's weight on the moon: 7.44 kg
Shelly's weight on the moon: 10.75 kg
Marry's weight on the moon: 5.79 kg

# Control Structures:

# 1. Write a Python program to find the first N prime numbers.

In [89]:
n=int(input('give N number'))
n      
def is_prime(x):
    if(x==0 or x==1):
        return False
    
    for i in range(2,x):
        if x%i == 0:
            return False
        
    return True

for i in range(1,n+1):
    if(is_prime(i)):
        print(i,end=' ')

give N number20
2 3 5 7 11 13 17 19

# 2. Write a program to that caluclates the salary of an employee. Prompt the user to enter the Basic Salary, HRA, TA and DA. Add these components to calculate the Gross Salary. Also deduct 10% of Salary from the Gross Salary to be paid as tax and display Gross minus tas a net salary

In [38]:
# Input basic salary, HRA, TA, and DA
basic_salary = float(input("Enter Basic Salary: "))
hra = float(input("Enter HRA: "))
ta = float(input("Enter TA: "))
da = float(input("Enter DA: "))

Enter Basic Salary: 30000
Enter HRA: 2500
Enter TA: 15622
Enter DA: 21565

In [39]:
# Calculate Gross Salary
gross_salary = basic_salary + hra + ta + da

In [40]:
# Calculate Tax (10% of Gross Salary)
tax = 0.10 * gross_salary

In [41]:
# Calculate Net Salary (Gross Salary - Tax)
net_salary = gross_salary - tax

In [42]:
# Display the results
print(f"Gross Salary: {gross_salary}")
print(f"Tax (10% of Gross Salary): {tax}")
print(f"Net Salary (Gross Salary - Tax): {net_salary}")

Gross Salary: 69687.0
Tax (10% of Gross Salary): 6968.700000000001
Net Salary (Gross Salary - Tax): 62718.3

# 3. Write a python program to search for a string in the given list

In [92]:
l = [14, 2000, 'car', 'dog', 'cat', 'mphasis']           # assign list
 
s = 'dog' 
 
if s in l:               # check if string is present in the list
    print(f'{s} is present in the list')
else:
    print(f'{s} is not present in the list')

dog is present in the list

# 4. Write a Python function that accepts a string and calculates the number of upper-case letter and lower-case letter

In [94]:
def string_cal(s):
    d={"upper_case":0, "lower_case":0}
    for c in s:
        if c.isupper():
           d["upper_case"]+=1
        elif c.islower():
           d["lower_case"]+=1
        else:
           pass
    print ("Original String : ", s)
    print ("No. of Upper case characters : ", d["upper_case"])
    print ("No. of Lower case Characters : ", d["lower_case"])

string_cal('Welcome To MphasiS')

Original String :  Welcome To MphasiS
No. of Upper case characters :  4
No. of Lower case Characters :  12

# 5. Write a program to display the sum of odd numbers and even numbers that fall between 12 and 37

In [95]:
ls = [n for n in range(12,38)]
ls

[12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37]

In [96]:
# printing original list
print("The original list is : " + str(ls))
 
odd_sum = 0
even_sum = 0
 
for i in ls:
    for j in str(i):
         
        # adding in particular summation according to value
        if int(j) % 2 == 0:
            even_sum += int(j)
        else:
            odd_sum += int(j)
 
# printing result
print("Odd digit sum : " + str(odd_sum))
print("Even digit sum : " + str(even_sum))

The original list is : [12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37]
Odd digit sum : 97
Even digit sum : 72

# 6. Write a python program to print the table of any number

In [97]:
n=int(input("Enter the number to print the tables for:"))
for i in range(1,11):
    print(n,"*",i,"=",n*i)

Enter the number to print the tables for:9
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

# 7. Write a python program to sum the first 10 prime numbers

In [6]:
# Function to check if a number is prime
def is_prime(number):
    if number <= 1:
        return False
    if number <= 3:
        return True
    if number % 2 == 0 or number % 3 == 0:
        return False
    i = 5
    while i * i <= number:
        if number % i == 0 or number % (i + 2) == 0:
            return False
        i += 6
    return True

count = 0  # Count of prime numbers found
number = 2  # Start checking for primes from 2
prime_sum = 0  # Initialize the sum of prime numbers

while count < 10:
    if is_prime(number):
        prime_sum += number
        count += 1
    number += 1

print(f"The sum of the first 10 prime numbers is: {prime_sum}")

The sum of the first 10 prime numbers is: 129

# 8. Write a python program to implement arithmetic operations using nested if statment

In [8]:
# Input two numbers and the operation to perform
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
operation = input("Enter the operation (+, -, *, /): ")

# Perform the arithmetic operation based on user input
if operation == '+':
    result = num1 + num2
elif operation == '-':
    result = num1 - num2
elif operation == '*':
    result = num1 * num2
elif operation == '/':
    # Check if the denominator is not zero
    if num2 != 0:
        result = num1 / num2
    else:
        result = "Error: Division by zero"
else:
    result = "Invalid operation"

# Display the result
print("Result: ",result)

Enter the first number: 5
Enter the second number: 2
Enter the operation (+, -, *, /): /
Result:  2.5

# 9. Write python program to take the temperature in celsius and convert it to a Fahrenheit

In [12]:
# Input temperature in Celsius
celsius = float(input("Enter the temperature in Celsius: "))

# Convert Celsius to Fahrenheit
fahrenheit = (celsius * 9/5) + 32

# Display the temperature in Fahrenheit
print(f"{celsius} degrees Celsius is equal to {fahrenheit} degrees Fahrenheit.")

Enter the temperature in Celsius: 38
38.0 degrees Celsius is equal to 100.4 degrees Fahrenheit.

# 10. Write a python program to find a maximum and minimum in a list without using an inbuilt function

In [14]:
# Function to find the maximum and minimum values in a list
def find_max_min(numbers):
    if not numbers:
        return None, None  # Handle the case of an empty list

    max_value = numbers[0]
    min_value = numbers[0]

    for number in numbers:
        if number > max_value:
            max_value = number
        if number < min_value:
            min_value = number

    return max_value, min_value

In [15]:

# Input list of numbers
numbers = [10, 25, 4, 8, 15, 30, 7]

# Find the maximum and minimum values in the list
max_val, min_val = find_max_min(numbers)

# Display the results
print(f"Maximum value: {max_val}")
print(f"Minimum value: {min_val}")

Maximum value: 30
Minimum value: 4

# 11. Write a python program to print out the number of seconds in 30-days month, 30 days, 24 hours in a day, 60 minutes per day, 60 seconds in a minute

In [16]:
seconds_in_a_day = 24 * 60 * 60
seconds_in_a_month = seconds_in_a_day * 30
print("Number of seconds in a 30-day month:", seconds_in_a_month)

Number of seconds in a 30-day month: 2592000

# 12. Write a python program to print out number of seconds in a year

In [17]:
seconds_in_a_day = 24 * 60 * 60
seconds_in_a_month = seconds_in_a_day * 30
seconds_in_year = 365 * 24* 60 * 60
print("Number of seconds in a year:",seconds_in_year)

Number of seconds in a year: 31536000

# 13. A high-speedtrain can travel at an average speed of 150 mph, how long will it take a train travelling at this speed to travel from London to Glasgow which is 414 miles away

In [18]:
d= 414 
s= 150 
t = d/ s
remt = (d % s) * 60 /s
print(f"Time: {t} hours {remt} minutes")

Time: 2.76 hours 45.6 minutes

# 14. Write a python program that defines a variable called days_in_each_school_year and assign 192 to variable. The program should print out the total hours that you spend in school from year 7 to year 11, if each day you spend  6 hours in school days_in_each_year = 192

In [19]:
# Given data
days_in_each_school_year = 192
hours_per_day = 6

# Years 7 to 11
start_year = 7
end_year = 11

In [20]:
# Calculate total days spent in school
total_days = (end_year - start_year + 1) * days_in_each_school_year

# Calculate total hours spent in school
total_hours = total_days * hours_per_day

In [21]:
# Display the result
print(f"Total hours spent in school from Year {start_year} to Year {end_year}: {total_hours} hours")

Total hours spent in school from Year 7 to Year 11: 5760 hours

# 15. If the age of Ram, Sam and Khan are input through the keyboards, write python program to deteremine the eldest and youngest of the three

In [26]:
# Input ages of Ram, Sam, and Khan
ram_age = int(input("Enter Ram's age: "))
sam_age = int(input("Enter Sam's age: "))
khan_age = int(input("Enter Khan's age: "))

Enter Ram's age: 21
Enter Sam's age: 25
Enter Khan's age: 26

In [27]:
# Determine the eldest
if ram_age >= sam_age and ram_age >= khan_age:
    eldest = "Ram"
elif sam_age >= ram_age and sam_age >= khan_age:
    eldest = "Sam"
else:
    eldest = "Khan"

In [28]:
# Determine the youngest
if ram_age <= sam_age and ram_age <= khan_age:
    youngest = "Ram"
elif sam_age <= ram_age and sam_age <= khan_age:
    youngest = "Sam"
else:
    youngest = "Khan"

In [29]:
# Display the results
print(f"The eldest among Ram, Sam, and Khan is {eldest}.")
print(f"The youngest among Ram, Sam, and Khan is {youngest}.")

The eldest among Ram, Sam, and Khan is Khan.
The youngest among Ram, Sam, and Khan is Ram.

# 16. Write a python program to rotate a list by right n times with and without slicing method

In [30]:
# Rotate to right using slice method

def rotate_right_with_slicing(lst, n):
    n %= len(lst)  # Ensure n is within the length of the list
    lst[:] = lst[-n:] + lst[:-n]

# Example usage:
my_list = [1, 2, 3, 4, 5]
n = 2  # Rotate right by 2 positions
rotate_right_with_slicing(my_list, n)
print(my_list)

[4, 5, 1, 2, 3]

In [31]:
# Rotate to right without using slice method

def rotate_right_without_slicing(lst, n):
    n %= len(lst)  # Ensure n is within the length of the list
    for _ in range(n):
        lst.insert(0, lst.pop())

# Example usage:
my_list = [1, 2, 3, 4, 5]
n = 2  # Rotate right by 2 positions
rotate_right_without_slicing(my_list, n)
print(my_list)

[4, 5, 1, 2, 3]

# 17. Write Python program to print the patterns given below:

In [ ]:
#i)
1
1 1
1 2 1
1 3 3 1
1 4 6 4 1
1 5 10 10 5 1
1 6 15 20 15 6 1

In [32]:
def generate_pascal_triangle(n):
    # Initialize the Pascal's triangle with 1s in the first column
    triangle = [[1] * (i + 1) for i in range(n)]

    for i in range(2, n):
        for j in range(1, i):
            triangle[i][j] = triangle[i - 1][j - 1] + triangle[i - 1][j]

    return triangle

def print_pascal_triangle(triangle):
    for row in triangle:
        print(" ".join(map(str, row)))

# Define the number of rows for the pattern
num_rows = 7  # You can change this to the desired number of rows

# Generate and print Pascal's triangle
pascal_triangle = generate_pascal_triangle(num_rows)
print_pascal_triangle(pascal_triangle)

1
1 1
1 2 1
1 3 3 1
1 4 6 4 1
1 5 10 10 5 1
1 6 15 20 15 6 1

In [ ]:
ii) 
*
* *
* * *
* * * *
* * * * *

In [33]:
def print_pattern(rows):
    for i in range(1, rows + 1):
        for j in range(1, i + 1):
            print("*", end=" ")
        print()

# Define the number of rows for the pattern
num_rows = 5  # You can change this to the desired number of rows

# Print the pattern
print_pattern(num_rows)

*
* *
* * *
* * * *
* * * * *

In [ ]:
iii)
      *
     * *
    * * *
   * * * *
  * * * * *
 * * * * * *
* * * * * * *

In [34]:
def print_pattern(rows):
    for i in range(1, rows + 1):
        # Print leading spaces
        for j in range(rows - i):
            print(" ", end=" ")
        
        # Print asterisks
        for k in range(i):
            print("*", end=" ")
        
        # Move to the next line
        print()

# Define the number of rows for the pattern
num_rows = 6  # You can change this to the desired number of rows

# Print the pattern
print_pattern(num_rows)

          *
        * *
      * * *
    * * * *
  * * * * *
* * * * * *

In [ ]:
iv)
P
Py
Pyt
Pyth
Pytho
Python

In [36]:
word = "Python"

for i in range(len(word)):
    print(word[:i + 1])

P
Py
Pyt
Pyth
Pytho
Python